NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_SITE_URL=https://lokeshwaffle.in
NEXT_PUBLIC_WHATSAPP_NUMBER=9492520198
NEXT_PUBLIC_STORE_LATITUDE=17.3850
NEXT_PUBLIC_STORE_LONGITUDE=78.4867
