# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/backend.hcl

# IDE and OS
.vscode/
.DS_Store
Thumbs.db

# Local artifacts
*.log

# Frontend
frontend/node_modules/
frontend/.next/

# Backend
backend/.venv/
backend/__pycache__/
backend/*.db
