BACKEND_DATABASE_URL=sqlite:///./waffle_whizz.db
BACKEND_ALLOWED_ORIGINS=http://localhost:3000,https://lokeshwaffle.in
BACKEND_WHATSAPP_NUMBER=9492520198
BACKEND_STORE_NAME=Waffle Whizz
BACKEND_STORE_LATITUDE=17.3850
BACKEND_STORE_LONGITUDE=78.4867
