# Common GitHub repository variables to configure.
AWS_REGION=ap-south-1

# Dev
AWS_GITHUB_OIDC_ROLE_DEV=arn:aws:iam::123456789012:role/restaurant-platform-dev-github-actions-deploy-role
ECS_CLUSTER_DEV=restaurant-platform-dev-ecs-cluster
ECS_SERVICE_FRONTEND_DEV=restaurant-platform-dev-frontend
ECS_SERVICE_BACKEND_DEV=restaurant-platform-dev-backend
ECS_TASK_FAMILY_FRONTEND_DEV=restaurant-platform-dev-frontend-task
ECS_TASK_FAMILY_BACKEND_DEV=restaurant-platform-dev-backend-task
ECR_REPOSITORY_FRONTEND_DEV=restaurant-platform-dev-frontend
ECR_REPOSITORY_BACKEND_DEV=restaurant-platform-dev-backend

# Prod
AWS_GITHUB_OIDC_ROLE_PROD=arn:aws:iam::123456789012:role/restaurant-platform-prod-github-actions-deploy-role
ECS_CLUSTER_PROD=restaurant-platform-prod-ecs-cluster
ECS_SERVICE_FRONTEND_PROD=restaurant-platform-prod-frontend
ECS_SERVICE_BACKEND_PROD=restaurant-platform-prod-backend
ECS_TASK_FAMILY_FRONTEND_PROD=restaurant-platform-prod-frontend-task
ECS_TASK_FAMILY_BACKEND_PROD=restaurant-platform-prod-backend-task
ECR_REPOSITORY_FRONTEND_PROD=restaurant-platform-prod-frontend
ECR_REPOSITORY_BACKEND_PROD=restaurant-platform-prod-backend
